* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

.assignments ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.assignments ul li {
    margin: 10px 0;
}

.assignments ul li a {
    text-decoration: none;
    color: #0066cc;
    font-size: 1.2em;
    transition: color 0.3s;
}

.assignments ul li a:hover {
    color: #00509e;
}

footer {
    text-align: center;
    padding: 10px;
    color: #777;
    margin-top: auto;
}

.description {
    text-align: center;
    margin: 20px;
    width: 500px; 

}

#sketch-container{
    margin: 20px; 
}